{{!-- 
			<link rel="stylesheet" href="/css/nav-bar.css">
			<ul class="navbar-nav ml-auto">
				{{#if user}}
				<li class="nav-item dropdown">
					<div class="dropdown-menu">
					<a href="javascript:void(0)" class="dropbtn">
						<img src="https://oakliquorcabinet.com/assets/images/avatars/no-avatar.png"></a>
					<div class="dropdown-content">
					<a href="/user/profile/:id" class="dropdown-item">Profile</a>
					<a href="/staffLogout" class="dropdown-item">Logout</a>
				</div>
				</div>
				</li>
				<li><a href="/feedback/customerFeedbacks">Feedback</a></li>
				<li><a href="/main_s/delivery/all">Delivery</a></li>
				<li class="nav-item dropdown">
					<div class="dropdown-menu">
					<a href="javascript:void(0)" class="dropbtn">Stocks</a>
					<div class="dropdown-content">
					<a href="/stocks/viewInstocks" class="dropdown-item">View instocks</a>
					<a href="/stocks/deliveryStatusUpdate" class="dropdown-item">Delivery Status Status Update</a>
				</div>
				</div>
				</li>
				<li><a href="/orders">Orders</a></li>
				<li><a href="/salesRecord">Sales Record</a></li>
				
				{{/if}}
			</ul>
		</div>
	</div>
</nav> --}}


{{!-- <link rel="stylesheet" href="/css/nav-bar.css"> --}}
<link rel="stylesheet" href="/css/nav-bar.css">
{{#if user}}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
	<div class="container">
		<a class="navbar-brand" href="/">Zalora</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">



			<ul class="navbar-nav mt-1">
				{{#if admin}}
				<li class="nav-item">
					<a class="nav-link" href="/salesRecord">Sales Record</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/feedback/customerFeedbacks">Feedbacks</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/main_s/delivery/all">Delivery</a>
				</li>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
						id="navbarDropdownMenuLink">Stock Management</a>
					<div class="dropdown-menu">
						<a href="/stocks/viewInstocks" class="dropdown-item">Instocks</a>
						<a href="/stocks/deliveryStatusUpdate" class="dropdown-item">Stock Delivery Reference</a>
					</div>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
						id="navbarDropdownMenuLink">Setting</a>
					<div class="dropdown-menu">
						<a href="/user/profile/:id" class="dropdown-item">Profile</a>
						<a href="/staffLogout" class="dropdown-item">Logout</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
						id="navbarDropdownMenuLink">Register</a>
					<div class="dropdown-menu">
						<a href="/staffRegister" class="dropdown-item">Register for Admin</a>
						<a href="" class="dropdown-item">Register for Merchants</a>
					</div>
				</li>
				{{/if}}

				{{#if cuser}}
				<li class="nav-item">
					<a class="nav-link" href="/shopping/shop">Store</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/feedbackk/messageemail">Send Feedback</a>
				</li>

				<li class="nav-item">
					<a href="/shopping/cartfull" class="nav-link">
						<span class="cart-info__icon mr-lg-3"><i class="fas fa-shopping-cart"></i></span>Cart</a>
				</li>
				<li class="nav-item">
					<a href="/shopping/wishlist" class="nav-link">WishList</a>
				</li>
				{{!-- <li class="nav-item">
						<a href="../shopping/paymenttype" class="nav-link">Payment</a>
					</li> --}}
				{{!-- {{#if user.profileURL}}
						<li class="nav-item">
						<img class="narprofile" src="{{user.profileURL}}"></li>
						<li class="nav-item"></li>
						{{else}}
						<li class="nav-item">
						<img class="narprofile" src="img/profile.png"></li>
						<li class="nav-item"></li>
						{{/if}} --}}
				<a href="/cuser/profile/{{user.id}}" class="nav-link">Profile</a>
				</li>

				<li class="nav-item">
					<a href="/logout" class="nav-link">Logout</a>
				</li>

				{{/if}}
				{{#if muser}}
				<style>
					.bg-primary {
						background-color: #f4b642 !important;
					}
				</style>

				
	
							<ul class="navbar-nav ml-auto">
								
								<li class="nav-item dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
										id="navbarDropdownMenuLink">Delivery
									</a>
									<div class="dropdown-menu">
										<a href="/form/showsendForm" class="dropdown-item">Delivery Dispatch Order</a>
										<a href="/form/saveForm" class="dropdown-item">Delivery Dispatch Records</a>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/form/trash">Trash</a>
								</li>

								<li class="nav-item">
									<a href="/logout" class="nav-link">Logout</a>
								</li>
								
								{{/if}}
							</ul>
						</div>
					</div>
				</nav>





			</ul>
		</div>
	</div>
</nav>
{{/if}}