
<div class="hometitlebox">
<h1 class="hometitle">About</h1>
<p class="hometitleinfo"></p>
</div>

<div class="hometitlebox">
<h1 class="hometitle">Contact us</h1>
<p class="hometitleinfo"></p>
</div>

<button id="homeExplore">Explore</button>
