

{{#if cuser}}
<link rel="stylesheet" href="/css/cstyle.css">
<div class="hometitlebox">
<h1 class="hometitle" style="text-align:center;">About</h1>
<p class="hometitleinfo">Launched in 2019, Zalora is the number-one online shopping and selling destination in  Singapore. With 300 million SKUs available, Zalora offers the widest range of products in categories for beauty and fashion.
Focused on delivering an excellent customer experience, it offers comprehensive customer care .</p>
</div>
<br>
<br>
<br>
<div class="hometitlebox" style="width:100%;">
<h1 class="hometitle" style="text-align:center;">Contact us</h1>
<p class="hometitleinfo" style="text-align:center;">Contact:98293343</p>
<p class="hometitleinfo" style="text-align:center;">Email:Zalora@gmail.com</p>
</div>
<div class="hometitlebox" style="tex-align:center;">
<button class="addfeedback" style=" margin: 0 auto;display: block;" ><a href="/shopping/shop">Explore</a></button>
</div>
{{/if}}

{{#if admin}}

{{/if}}
