h1{
  text-align: center;
  
}

.adDel{
  border: 2px solid #ffa500;
  border-collapse: collapse;
  font-family: 'Times New Roman', Times, serif;
  /* padding-left: -20%;
  padding-right: -20%; */
  padding: 0;
  width: 80%;
  height: 10%;
  padding-top: -30%;
  text-align: center;
  font-size: 11px;
}

th{
  border: 2px solid #ffa500;
  border-collapse: collapse;
  font-family: 'Times New Roman', Times, serif;
  /* padding-left: -20%;
  padding-right: -20%; */
  font-size: 11px;
  background-color: #fcca46;
  padding: 2.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: moccasin, navajowhite
}

td{
  border: 2px solid #ffa500;
  border-collapse: collapse;
  font-family: 'Times New Roman', Times, serif;
  /* padding-left: -20%;
  padding-right: -20%; */
  /* font-size: 11px; */
  /* padding: 2.5px; */
}

#pickUpLoc{
  width: -40%;
}

#dNt{
  padding-top: 6px;
}

#bigger{
  padding-left: 10px;
  padding-right: 10px;
} 

#status{
padding: 0;
border: none;
background: none;

}
select{
  margin-left: 30em;
  width:8em; 
  height:2em;
  border-color: rgb(206, 153, 88);
}


#pickUpLdelocDel{
  width: 40%;
}