<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/cstyle.css">

<div class="row formloginR">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<h3 class="text-center">Account Login</h3>
			<form method="post" action="../cuser/clogin" class="cformloginR"> 
				<div class="form-group">
					<label for="email">Email</label><br>
					<input type="email" name="email" class="clogininputBox" required value="{{email}}">
				</div>
				<div class="form-group">
					<label for="password">Password</label><br>
					<input id="password" type="password" name="password" class="clogininputBox" required value="{{password}}">
				<br>
				<input type="checkbox" onclick="myFunction()"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
				</div>
				<button type="submit" class="addfeedback">Login</button> 
				<br>
				<a href="../cRegister" >Sign Up Instead</a>

			</form>
		</div>
	</div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

</script>
{{!-- const express = require('express');
const router = express.Router();
router.get('/', (req, res) => {
const title = 'Video Jotter';
res.render('index', { // renders views/index.handlebars
title
})
});
router.get('/about', (req, res) => {
const author = 'Your name';
res.render('about', { // renders views/about.handlebars, passing
author as variable
author: autho --}}