<link rel="stylesheet" href="/css/cstyle.css">
<div class="feedbackbox">
You have successfully make your order!
</div>


<img src="/img/chicken.png" alt="Poster unavailable"  class="chicken">



