<link rel="stylesheet" href="/css/cstyle.css">

<h1 id="typeofpaymenttitle">Choose your payment method</h1>
<div class="inlineforpaybutton">
<a href='../shopping/paymentcash'><img class="paytype" src="/img/money.jpg"></a>   <a href='../shopping/paymentcreditcard'><img class="paytype" src="/img/credit.png"></a><form id="paypalfrom"action='../shopping/pay' method='post'>
	<input id="paypalbutton" type='submit' value="Paypal" ></form></div>
		

